/*
	Authors:
	>> Clément Lacroix - { clacroix2@etu.uqac.cq }
	>> Lucas Aubriet - { laubriet@etu.uqac.cq }
	>> Martin Vidal - { mvidal@etu.uqac.cq }
	>> Nathan TIROLF - { ntirolf@etu.uqac.cq }
	>> Romane Lesueur - { rlesueur@etu.uqac.cq }

	(„• ֊ •„)❤  <  Have a good day !
	--U-----U------------------------
*/

.navbarLink {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	transition: border-bottom 0.1s;
}

.navbarLink:hover {
	border-bottom: 3px solid var(--color-mountain-meadow);
}

.activeLink {
	border-bottom: 3px solid var(--color-mountain-meadow);
}
