/*
	Authors:
	>> Clément Lacroix - { clacroix2@etu.uqac.cq }
	>> Lucas Aubriet - { laubriet@etu.uqac.cq }
	>> Martin Vidal - { mvidal@etu.uqac.cq }
	>> Nathan TIROLF - { ntirolf@etu.uqac.cq }
	>> Romane Lesueur - { rlesueur@etu.uqac.cq }

	(„• ֊ •„)❤  <  Have a good day !
	--U-----U------------------------
*/

.container {
	width: 175px;
	height: 175px;
	background-color: var(--color-mountain-meadow);
	border-radius: 10px;
	position: relative;
	box-shadow: 5px 5px 0 0 var(--color-bangladesh-green);
}

.plate {
	width: fit-content;
}

.plate .black,
.plate .white,
.plate .center,
.plate .border {
	border-radius: 100%;
}

.container,
.plate .black,
.plate .white,
.plate .border {
	display: flex;
	align-items: center;
	justify-content: center;
}

.plate .black {
	width: 150px;
	height: 150px;
	background-color: var(--color-bangladesh-green);
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

.plate .white {
	width: 70px;
	height: 70px;
	background-color: var(--color-anti-flash-white);
}

.plate .center {
	width: 20px;
	height: 20px;
	background-color: var(--color-bangladesh-green);
}

.plate .border {
	width: 111px;
	height: 111px;
	border-top: 3px solid var(--color-anti-flash-white);
	border-bottom: 3px solid var(--color-anti-flash-white);
	border-left: 3px solid var(--color-bangladesh-green);
	border-right: 3px solid var(--color-bangladesh-green);
}

.player {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: fit-content;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 8px;
	margin-right: 8px;
	rotate: -45deg;
}

.player .circ {
	width: 25px;
	height: 25px;
	background-color: var(--color-anti-flash-white);
	border-radius: 100%;
	z-index: 1;
}

.player .rect {
	width: 10px;
	height: 55px;
	background-color: var(--color-anti-flash-white);
	position: absolute;
	bottom: 0;
	margin-bottom: 5px;
}