/*
	Authors:
	>> Clément Lacroix - { clacroix2@etu.uqac.cq }
	>> Lucas Aubriet - { laubriet@etu.uqac.cq }
	>> Martin Vidal - { mvidal@etu.uqac.cq }
	>> Nathan TIROLF - { ntirolf@etu.uqac.cq }
	>> Romane Lesueur - { rlesueur@etu.uqac.cq }

	(„• ֊ •„)❤  <  Have a good day !
	--U-----U------------------------
*/


/* ----- OVERRIDE ----- */
:root {
	--color-dark-green: #032221;
	--color-dark-green-o50: rgba(3, 34, 33, 0.5);

	--color-bangladesh-green: #03624C;
	--color-bangladesh-green-o20: rgba(3, 98, 76, 0.5);

	--color-mountain-meadow: #26A67C;
	--color-mountain-meadow-o10: rgba(38, 166, 124, 0.1);

	--color-caribbean-green: #00DF81;

	--color-anti-flash-white: #f1f7f6;
	--color-anti-flash-white-o25: rgba(241, 247, 246, 0.25);
	--color-anti-flash-white-o50: rgba(241, 247, 246, 0.5);
	--color-anti-flash-white-o75: rgba(241, 247, 246, 0.75);
}


/* ----- CLASSES ----- */
.color-dark-green {
	color: var(--color-dark-green);
}

.background-dark-green {
	background-color: var(--color-dark-green);
}

.background-dark-green {
	background-color: var(--color-dark-green);
}

.color-bangladesh-green {
	color: var(--color-bangladesh-green);
}

.background-bangladesh-green {
	background-color: var(--color-bangladesh-green);
}

.background-bangladesh-green-o20 {
	background-color: var(--color-bangladesh-green-o20);
}

.color-mountain-meadow {
	color: var(--color-mountain-meadow);
}

.background-mountain-meadow {
	background-color: var(--color-mountain-meadow);
}

.color-caribbean-green {
	color: var(--color-caribbean-green);
}

.color-anti-flash-white {
	color: var(--color-anti-flash-white);
}

.color-anti-flash-white-o75 {
	color: var(--color-anti-flash-white-o75);
}

.color-anti-flash-white-o50 {
	color: var(--color-anti-flash-white-o50);
}
