/*
	Authors:
	>> Clément Lacroix - { clacroix2@etu.uqac.cq }
	>> Lucas Aubriet - { laubriet@etu.uqac.cq }
	>> Martin Vidal - { mvidal@etu.uqac.cq }
	>> Nathan TIROLF - { ntirolf@etu.uqac.cq }
	>> Romane Lesueur - { rlesueur@etu.uqac.cq }

	(„• ֊ •„)❤  <  Have a good day !
	--U-----U------------------------
*/


/* ----- IMPORTS ----- */
@import "@/style/colors.css";
@import "@/style/texts.css";
@import "@/style/responsive.css";


/* ----- GLOBAL STYLE ----- */
:root {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 400;
	font-size: 16px;

	color-scheme: light dark;
	color: var(--color-anti-flash-white);
	background-color: var(--color-dark-green);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-mountain-meadow);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-caribbean-green);
}