/*
	Authors:
	>> Clément Lacroix - { clacroix2@etu.uqac.cq }
	>> Lucas Aubriet - { laubriet@etu.uqac.cq }
	>> Martin Vidal - { mvidal@etu.uqac.cq }
	>> Nathan TIROLF - { ntirolf@etu.uqac.cq }
	>> Romane Lesueur - { rlesueur@etu.uqac.cq }

	(„• ֊ •„)❤  <  Have a good day !
	--U-----U------------------------
*/


/* ----- CLASSE ----- */
.display-laptop-mode {
    display: block;
}

.display-mobile-mode {
    display: none;
}


/* ----- MEDIA QUERY ----- */
@media screen and (max-width: 768px) {
    .display-laptop-mode {
        display: none;
    }

    .display-mobile-mode {
        display: block;
    }
}
