/*
	Authors:
	>> Clément Lacroix - { clacroix2@etu.uqac.cq }
	>> Lucas Aubriet - { laubriet@etu.uqac.cq }
	>> Martin Vidal - { mvidal@etu.uqac.cq }
	>> Nathan TIROLF - { ntirolf@etu.uqac.cq }
	>> Romane Lesueur - { rlesueur@etu.uqac.cq }

	(„• ֊ •„)❤  <  Have a good day !
	--U-----U------------------------
*/


/* ----- IMPORTS ----- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ----- CLASSE ----- */
.textStyle-title {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 700;
	font-size: 32px;
	letter-spacing: 2px;
}

.textStyle-subtitle {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 600;
	font-size: 24px;
}

.textStyle-text {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 400;
	font-size: 16px;
}

@media screen and (max-width: 1024) {
	.textStyle-title {
		font-size: 24px;
	}

	.textStyle-subtitle {
		font-size: 18zpx;
	}

	.textStyle-text {
		font-size: 14px;
	}
}

@media screen and (max-width: 768px) {
	.textStyle-title {
		font-size: 20px;
	}

	.textStyle-subtitle {
		font-size: 16px;
	}

	.textStyle-text {
		font-size: 12px;
	}
}